.activity {
    width: 30%;
    margin-bottom: 30px;
    @media only screen and (max-width: 620px){
        width: 45%;
    }

    @media only screen and (max-width: 400px){
        width: 100%;
    }
}