.newsletter {
    background-color: white;
    height: 100%;
    padding: 15px 5px;
    width: 25%;
    .red {
        color: red;
    }
    .requirement {
        text-align: right;
    }
    label {
        display: block;
    }
    .group {
        margin-bottom: 15px;
        input {
            padding: 6px;
            border: 1px solid #ABB0B2;
            border-radius: 2px;
            width: 100%;
        }
    }
    button {
        background-color: #aaa;
        border: none;
        padding: 5px 14px;
        border-radius: 4px;
        color: white;
    }
    @media only screen and (max-width: 500px){
        width: 100%;
    }
}